*{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
}
header{
    width: 1200px;
    padding: 20px;
    clear: both;
}
.admin{
    padding-right: 50px;
}
section{
    width: 1200px;
    height: 400px;
    padding: 20px;
    clear: both;
}
.newsList{
    width: 15%;
    height: 100%;
    float: left;
}
.newsList>ul{
    padding-left: 45px;
}
.newsContent{
    width: 83%;
    height: 300px;

}
article{
    text-align: left;
}
ul{
    border-right: 1px solid royalblue;
}
.footer{
    width: 1200px;
    clear: both;
}